<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>

  <div class="container my-4 mt-4">
<center><h3> Divya Dadi </h3></center>
<h5>Myself</h5>

<p>I am Divya Dadi, a Master of Computer Science student at Rice University, with a passion for using technology to solve real-world problems.</p>
<h5>My Expertise
</h5>
<p> Throughout my academic and professional journey, I have gained experience in data engineering, software development, and web technologies, having worked with industry leaders like Walmart Global Tech and Tata Consultancy Services. I enjoy collaborating with cross-functional teams, managing data pipelines, and developing solutions that drive efficiency. I am always eager to learn, challenge myself in new areas, and make a meaningful impact through my work.</p>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>